@import 'tailwindcss';

@theme {
	/* ----- DEFAULT ----- */
	--color-main-surface: white;
	--color-main-surface-hover: #ddd;
	--color-main-onsurface: black;
	--color-main-onsurface-hover: #222;
	/* ----- PRIMARY ----- */
	--color-primary-main: #1eb765;
	--color-primary-dark: #008443;
	--color-primary-light: #9bdbb2;
	/* onprimary are colors to use for text
	when using primary for background color */
	--color-onprimary-main: white;
	--color-onprimary-dark: white;
	--color-onprimary-light: black;

	/* ----- SECONDARY ----- */
	--color-secondary-main: #f72380;
	--color-secondary-dark: #b71e70;
	--color-secondary-light: #f9bfdb;
	/* onsecondary are colors to use for text
	when using secondary for background color */
	--color-onsecondary-main: white;
	--color-onsecondary-dark: white;
	--color-onsecondary-light: black;

	/* ----- SPACING ----- */
	--spacing-2xs: 2px;
	--spacing-xs: 4px;
	--spacing-sm: 6px;
	--spacing-md: 8px;
	--spacing-lg: 10px;
	--spacing-xl: 12px;
	--spacing-2xl: 14px;
}

@layer base {
	*,
	*::before,
	*::after {
		padding: 0;
		margin: 0;
		box-sizing: border-box;
	}

	/* For Firefox. */
	* {
		scrollbar-width: none;
	}

	/* For WebKit (Chrome & Safari). */
	::-webkit-scrollbar {
		display: none;
	}
}
